<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>

<!-- <link rel="stylesheet" type="text/css" href="./styles/.css"> -->
<link rel="stylesheet" type="text/css" href="theme.css">
<link rel="stylesheet" type="text/css" href="style.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<script src="script.js"></script>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="qrcode.js"></script>
<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction3() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
    
</head>
<body>





<div class='nav-class'>
    <nav>
<div class = "nav-comb"> 
      <div class = nav-img>
    <img class = 'logo' src="https://is1-ssl.mzstatic.com/image/thumb/Purple128/v4/eb/4e/e6/eb4ee6f0-63e5-fe15-d2f6-c05adcfa68e0/source/512x512bb.jpg" alt="logo">
  </div>
  <div class = "nav-heading">
    <h1>Protected Pay</h1>
  </div>
</div> 
  <div class="dropdown">
    <button onclick="myFunction3()" class="dropbtn"><%= user.name %></button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#home">Home</a>
      <a href="/editProfile"><%= user.name %><br>Mob:-<%= user.phone %></a>  
      <a href="/logout">Logout</a>
    </div>
  </div>
 
    <% if( status === "Successfully") { %>
        <div id="alert">
            <span id="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <%= status %> login
          </div>
     <% } %>

    </nav>

</div>



<!-- <-- START OF TASK 3----- -->


<div class = "main">
    <div class = "left-section">
        <h1>Dashboard</h1> 
        <button onclick="dashboard()" id = "das">DASHBOARD<i class="fa fa-sign-out" aria-hidden="true"></i></button>
        <button onclick="Qrcode()" id = "qr"><i class="fa fa-qrcode" aria-hidden="true"></i>QR Code</button>
        <button> <a href="/logout">Logout</a></button>
       
    </div>

      <div class = "right-section">
        <div class = "right-comb" id = "right-com">
        <div class = "userDetails">
            <h1> User Details </h1>
            <div class = flex>
                <h2>Name </h2>
                <p><%= user.name %></p>
            </div>  
            <div class = flex>
                <h2>Email </h2>
                <p> <%= user.email %>     </p>
            </div>
            <div class = flex>
                <h2>Phone </h2>
                <p> <%= user.phone %>     </p>
            </div>
            <div class = flex>
                <h2>Merchant ID </h2>
                <p>  <%= user._id %>    </p>
            </div>      
          </div>  
          <div class = "bussinessOverview">
              <h1>Bussiness Overview </h1>
              <div class = flex>
                <h2>Bussiness Type</h2>
                <p> <%= user.bussiness %></p>
            </div>
            <div class = flex>
                <h2>Bussiness Category /Sub Category </h2>
                <p>  <%= user.category %></p>
            </div>
            <div class = flex>
                <h2>Estimate monthly revenue </h2>
                <p>  <%= user.revenue %>    </p>
            </div>
            <div class = flex>
                <h2>Billing Label </h2>
                <p><%= user.billing %></p>
            </div>
            <div class = flex>
                <h2>Website </h2>
                <p><%= user.website %> </p>
            </div>          
            </div>
           <div class = "bussinessDetails">
               <h1>Bussiness Details </h1>
               <div class = flex>
                <h2>Bussiness Pan </h2>
                <p><%= user.panNo %></p>
               </div>
                <div class = flex>
                    <h2>Bussiness Name </h2>
                    <p><%= user.bussinessName %></p>
                </div>
                <div class = flex>
                    <h2>Authorised Signature Pan </h2>
                    <p><%= user.authPan %></p>
                </div>
                <div class = flex>
                    <h2>Pan owner name </h2>
                    <p><%= user.panOwner %></p>
                </div>
                <div class = flex>
                    <h2>Address </h2>
                    <p><%= user.address %></p>
                </div>
                <div class = flex>
                    <h2>Pincode </h2>
                    <p><%= user.pinCode %></p>
                </div>
                <div class = flex>
                    <h2>city </h2>
                    <p><%= user.city %></p>
                </div>
                <div class = flex>
                    <h2>state </h2>
                    <p><%= user.state %></p>
                </div> 
                <div class = flex>
                    <h2>Operational address Details </h2>
                    <p><%= user.address %></p>
                </div>               
            </div> 
            </div> 

         <div class = "QrCode" id = "qrcodee" style="display: none">

            <h1> Scan the Qr code for your Bussiness Details</h1> 
            <!-- <input id="text" type="text" value="http://jindo.dev.naver.com/collie" style="width:80%" /><br /> -->
            <div id="qrcode" style="width:200px; height:200px; margin:25px; "></div>
            <input id="text1" type="text" value="{Bussiness Pan:<%= user.panNo%>,Bussiness Name: <%= user.bussinessName%>,Authorised Sign Pan :<%= user.authPan%>,Pan Owner Name : <%= user.panOwner%>,Address : <%= user.address%>,PIN : <%= user.pinCode%>, City : <%= user.city%> , State : <%= user.state%> }" style="width:80%" /><br />
            
        </div>   



            </div>  
        </div>  

        <script type="text/javascript">
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                width : 100,
                height : 100
            });
            
            function makeCode () {		
                var elText = document.getElementById("text1");
                
                if (!elText.value) {
                    alert("Input a text");
                    elText.focus();
                    return;
                }
                
                qrcode.makeCode(elText.value);
            }
            
            makeCode();
            
            $("#text").
                on("blur", function () {
                    makeCode();
                }).
                on("keydown", function (e) {
                    if (e.keyCode == 13) {
                        makeCode();
                    }
                });
            </script>
</body>
</html>